[buildout]
develop = .
parts = py.test
extensions = mr.developer
sources = sources
auto-checkout = *
always-checkout = true
sources-dir = checkouts
newest = false


[sources]
crom = git https://github.com/Cromlech/crom.git
grokker = git https://github.com/Cromlech/grokker.git


[py.test]
recipe = zc.recipe.egg
eggs =
    cromlech.zodb [test] 
    pytest
arguments = ['src']
